<div>
  <div  class="split right">
    <div class="container">
      <form>
        <h1>Subject :</h1>
        <br>
        <div class="form-group">
          <div class="form-column">
            <label for="certificateType">Certificate Authority</label>
            <select id="certificateType" name="certificateType" required>
              <option value="Root">TRUE</option>
              <option value="Intermediate">FALSE</option>
            </select>
          </div>
          
        </div>
        <div class="form-group">
          <div class="form-column">
            <label for="commonName">Common Name</label>
            <input type="text" id="commonName" name="commonName"  [(ngModel)]="subjectCN" required>
          </div>
          <div class="form-column">
            <label for="organization">Organization</label>
            <input type="text" id="organization" name="organization" [(ngModel)]="subjectO" required>
          </div>
        </div>
        <div class="form-group">
          <div class="form-column">
            <label for="organizationalUnit">Organizational Unit</label>
            <input type="text" id="organizationalUnit" name="organizationalUnit" [(ngModel)]="subjectO" required>
          </div>
          <div class="form-column">
            <label for="country">Country</label>
            <input type="text" id="country" name="country" maxlength="2" [(ngModel)]="subjectCountry" required>
          </div>
        </div>
        <div class="form-group">
          <div class="form-column">
            <label for="startDate">Start Date</label>
            <input type="date" id="startDate" name="startDate" required>
          </div>
          <div class="form-column">
            <label for="endDate">End Date</label>
            <input type="date" id="endDate" name="endDate" required>
          </div>
        </div>  
        
      </form>
    </div>

    <div style="margin-left: 40%; margin-top: 8%;" class="form-group">
      <input style="width: 150px; height: 60px;" type="submit">
    </div>
  </div>
  <div class="split left">
    <div class="container">
      <form>
        <h1>Issuer :</h1>
        <br>
        <div class="form-group">
          <div class="form-column">
            <label for="keySize">Choose cert</label>
            <select [(ngModel)]="selectedKeySize"  (change)="onSelectionChanged()" id="keySize" name="keySize" required>
              <option *ngFor="let cert of certificates"  [value]="cert.alias">{{ cert.alias }}</option>    
           
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="form-column">
            <label for="certificateType">Certification Authority</label>
            <input  [(ngModel)]="selectedTemp" style="background-color: #D3D3D3;"  type="text" id="selCertType" name="certType" >
          </div>
        </div>
        <div class="form-group">
          <div class="form-column">
            <label for="commonName">Common Name</label>
            <input style="background-color: #D3D3D3;" readonly="true" type="text" id="commonName" name="commonName" [(ngModel)]="selectedCN">
          </div>
          <div class="form-column">
            <label for="organization">Organization</label>
            <input readonly="true" type="text" id="organization" name="organization" style="background-color: #D3D3D3;" [(ngModel)]="selectedO" >
          </div>
        </div>
        <div class="form-group">
          <div class="form-column">
            <label for="organizationalUnit">Organizational Unit</label>
            <input readonly="true" type="text" id="organizationalUnit" style="background-color: #D3D3D3;" name="organizationalUnit" [(ngModel)]="selecltedOU" required>
          </div>
          <div class="form-column">
            <label for="country">Country</label>
            <input readonly="true" style="background-color: #D3D3D3;" type="text" id="country" name="country" maxlength="2"  [(ngModel)]="selectedST" required>
          </div>
        </div>
        <div class="form-group">
          <div class="form-column">
            <label for="startDate">Start Date</label>
            <input style="background-color: #D3D3D3;" type="text" readonly="true" id="startDate" name="startDate" [(ngModel)]="selectedStartDate" required>
          </div>
          <div class="form-column">
            <label for="endDate">End Date</label>
            <input style="background-color: #D3D3D3;" type="text" readonly="true" id="endDate" name="endDate"  [(ngModel)]="selectedEndDate" required>
          </div>
        </div>
        <div class="form-group">

        </div>
        <div class="form-group">
          
        </div>
      </form>
    </div>
  </div>  
</div>
